<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qx.student.mapper.HistoryTakingRecordMapper">
    
    <resultMap type="HistoryTakingRecord" id="HistoryTakingRecordResult">
        <result property="id"    column="id"    />
        <result property="questionIds"    column="question_ids"    />
    </resultMap>

    <sql id="selectHistoryTakingRecordVo">
        select id, question_ids from history_taking_record
    </sql>

    <select id="selectHistoryTakingRecordList" parameterType="HistoryTakingRecord" resultMap="HistoryTakingRecordResult">
        <include refid="selectHistoryTakingRecordVo"/>
        <where>  
            <if test="questionIds != null  and questionIds != ''"> and question_ids = #{questionIds}</if>
        </where>
    </select>
    
    <select id="selectHistoryTakingRecordById" parameterType="Long" resultMap="HistoryTakingRecordResult">
        <include refid="selectHistoryTakingRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHistoryTakingRecord" parameterType="HistoryTakingRecord" useGeneratedKeys="true" keyProperty="id">
        insert into history_taking_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionIds != null  and questionIds != ''">question_ids,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionIds != null  and questionIds != ''">#{questionIds},</if>
         </trim>
    </insert>

    <update id="updateHistoryTakingRecord" parameterType="HistoryTakingRecord">
        update history_taking_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionIds != null  and questionIds != ''">question_ids = #{questionIds},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHistoryTakingRecordById" parameterType="Long">
        delete from history_taking_record where id = #{id}
    </delete>

    <delete id="deleteHistoryTakingRecordByIds" parameterType="String">
        delete from history_taking_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>