<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qx.cases.mapper.CaseImpBasisMapper">
    
    <resultMap type="CaseImpBasis" id="CaseImpBasisResult">
        <result property="id"    column="id"    />
        <result property="impId"    column="imp_id"    />
        <result property="basis"    column="basis"    />
        <result property="flag"    column="flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCaseImpBasisVo">
        select id, imp_id, basis, flag, create_by, create_time, update_by, update_time from case_imp_basis
    </sql>

    <select id="selectCaseImpBasisList" parameterType="CaseImpBasis" resultMap="CaseImpBasisResult">
        <include refid="selectCaseImpBasisVo"/>
        <where>  
            <if test="impId != null "> and imp_id = #{impId}</if>
            <if test="basis != null  and basis != ''"> and basis like concat('%', #{basis}, '%')</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
        </where>
    </select>
    
    <select id="selectCaseImpBasisById" parameterType="Long" resultMap="CaseImpBasisResult">
        <include refid="selectCaseImpBasisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCaseImpBasis" parameterType="CaseImpBasis">
        insert into case_imp_basis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="impId != null ">imp_id,</if>
            <if test="basis != null  and basis != ''">basis,</if>
            <if test="flag != null  and flag != ''">flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="impId != null ">#{impId},</if>
            <if test="basis != null  and basis != ''">#{basis},</if>
            <if test="flag != null  and flag != ''">#{flag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCaseImpBasis" parameterType="CaseImpBasis">
        update case_imp_basis
        <trim prefix="SET" suffixOverrides=",">
            <if test="impId != null ">imp_id = #{impId},</if>
            <if test="basis != null  and basis != ''">basis = #{basis},</if>
            <if test="flag != null  and flag != ''">flag = #{flag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCaseImpBasisById" parameterType="Long">
        delete from case_imp_basis where id = #{id}
    </delete>

    <delete id="deleteCaseImpBasisByIds" parameterType="String">
        delete from case_imp_basis where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>